
.flex{
    display: flex;   
}


header{
    height: 100px;
    justify-content: space-between;
}

header>img{
    padding: .5rem 3rem;
}

header>button{
    margin: 2rem 3rem;
    padding: .5rem 3rem;
    
}

body{
    
    background-color: blue;
    color: white;
}

.grid-active{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border: solid white;
    height: 600px;
    width: 600px;
}

.cell{
    height: calc(100% / 10);
    width: calc(100% / 10);
    border: solid white;
}